<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss:SSS} [%5p ] [%C{1}.%M] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache" additivity="false" level="error"/>
        <Logger name="org.apache.logging.log4j" additivity="false" level="error"/>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>